# Ignorar toda la carpeta de compilación de Maven (Esto evita tus conflictos)
target/

# Ignorar archivos compilados sueltos
*.class

# Ignorar la base de datos local para evitar el Riesgo 4
db/*.db

# Archivos de configuración de tu editor (VS Code o IntelliJ)
.vscode/
.idea/
*.iml*.db
db/dev.db
